.buttons {
    display: flex;
    flex-direction: column;
    width: 50%;
}

img {
    width: 70%;
}

@media (min-width: 768px) {
    .buttons {
        flex-direction: row;
        
    }

    img {
        width: 40%;
    }
} 

